{
  "presets": [
    ["@babel/preset-env", {
      "targets": "defaults"
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "babel-plugin-react-scoped-css"
  ]
}
