.taiwan-map {
  g {
    &:hover {
      path {
        fill: $peach-crayola;
        transform: translate(-5px, -5px);
      }
    }
    path {
      stroke: $light-border;
      fill: transparent;
      cursor: pointer;
      transition: 0.5s;
    }
  }
}
