// ========================================
//      Colors
// ================================================================================
$black: #000;
$white: #FFF;

$oxford-blue: #001B2E;
$charcoal: #294C60;
$cadet-blue-crayola: #ADB6C4;
$papaya-whip: #FFEFD3;
$peach-crayola: #FFC49B;

// --------------------
//      Border
// ----------------------------------------
$light-border: $cadet-blue-crayola;

// --------------------
//      Background
// ----------------------------------------

// --------------------
//      Text
// ----------------------------------------
$medium-text: $papaya-whip;
$light-text: $cadet-blue-crayola;

// ========================================
//      Mixins
// ================================================================================
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
